[2022-01-23 18:11] prathimacode-hub opened #1 "MedFlare : Create Home Page for Website"
Hey JWOC participants, good to see you.

This issue's goal is to create an external layout of a home page of the website.

Feel free to be creative! And please take care of the following criteria:

- In the page, add About (uncopyrighted image along with introductory text), Services (6) and Why Choose Us (some pointers with intended graphics) sections excluding header and footer

How to get it app

[2022-01-23 18:13] prathimacode-hub opened #2 "MedFlare : Vaccination Centers Notification"
Hey Hacktoberfest participants, good to see you.

This issue's goal is to get the glimpse of all the vaccination centers with availability notification sent to the user

How to get it approved?

- Add a screenshot and video of outlook on this thread and wait for one of the mentors to get back to you.
- Once it's approved, go ahead and make pr.

Please read [CONTRIBUTING.md](https://github.com/prat

[2022-01-23 18:15] prathimacode-hub opened #3 "MedFlare : Bed Availability Notification"
Hey JWOC participants, good to see you.

This issue's goal is to get the bed availabilities across the city and sent notification to user

How to get it approved?

- Add a screenshot and video of outlook on this thread and wait for one of the mentors to get back to you.
- Once it's approved, go ahead and make pr.

Please read [CONTRIBUTING.md](https://github.com/prathimacode-hub/MedFlare/blob/main

[2022-01-23 18:17] prathimacode-hub opened #4 "MedFlare : Create About Section for Website"
Hey JWOC participants, good to see you.

This issue's goal is to create an external layout of about page of the website.

Feel free to be creative! And please take care of the following criteria:

- In the page, add relevant text and also a related image (feel free to use any uncopyrighted images or graphics)
- Include textual contact details along with contact form on to the right

You can refer

[2022-01-23 18:17] prathimacode-hub opened #5 "MedFlare : Create Contact Section for Website"
Hey JWOC participants, good to see you.

This issue's goal is to create an external layout of contact page of the website.

Feel free to be creative! And please take care of the following criteria:

- In the page, add an embedded map with dummy location
- Include textual contact details along with contact form on to the right

You can refer this link : http://cpconsol.com/contact-us.html

How to g

[2022-01-23 18:23] prathimacode-hub opened #6 "MedFlare : Create Complete Sign Up / Login Details of Website"
Hey JWOC participants, good to see you.

This issue's goal is to create an an overall sign up and login process of the website.

If you like to work on this issue, follow the given guidelines for code as well as for the README.

[2022-01-30 20:59] Rik-21 commented on #6
can i work on it please

[2022-01-31 02:35] SabariGanesh-K commented on #1
Hello. Would love to contribute. But no files are there in src that is responsible to render home page. So where should we find it and improvise?

[2022-01-31 05:38] snega16 commented on #5
Hey I have a doubt. Contact page in the sense, we should develop the contact section with more details from users like name, email, ph, etc?

[2022-01-31 16:41] prathimacode-hub commented on #6
To get yourself assigned, kindly express your interest from 12AM 1st Feb. That's when the issue is valid for counting. Are you a JWoC Participant? @Rik-21

[2022-01-31 16:42] prathimacode-hub commented on #1
It's a new project so basically it should start from scratch. Yes. To get yourself assigned, kindly express your interest from 12AM 1st Feb. That's when the issue is valid for counting. Are you a JWoC Participant? @SabariGanesh-K

[2022-01-31 17:05] vivekpatel17 commented on #4
I would like to work on this issue under JWoC.

[2022-01-31 17:51] Rik-21 commented on #6
Yes I am a JWoC participant  . Sorry i really did not knew about the 1 feb rule

[2022-01-31 17:58] SabariGanesh-K commented on #1
@prathimacode-hub  Yes yes.. JWOC only.  I understood what you are saying. Will do that once coding period starts .

[2022-01-31 18:02] prathimacode-hub commented on #4
Issue will be assigned to person on FCFS basis from 12AM onwards. So one who express their interest first after 12AM will be considered to be assigned this issue. So see you in few more mins @vivekpatel17

[2022-01-31 18:31] vivekpatel17 commented on #4
I would like to work on this issue under JWoC.

[2022-01-31 18:31] prathimacode-hub commented on #6
No worries @Rik-21

[2022-01-31 18:33] prathimacode-hub commented on #1
yes, sure. Coding period started @SabariGanesh-K

[2022-01-31 18:34] prathimacode-hub commented on #4
Issue assigned to @vivekpatel17

[2022-01-31 18:35] Rik-21 commented on #6
"I want to work on this issue under JWOC"
Can i work on this issue ?

[2022-01-31 18:36] combatantash commented on #6
I want to work on this issue under JWOC

[2022-01-31 18:37] combatantash commented on #5
I want to work on this issue under JWOC

[2022-01-31 18:38] prathimacode-hub commented on #6
Issue assigned to @Rik-21 on FCFS basis. You can choose some other issue @combatantash

[2022-01-31 18:39] prathimacode-hub commented on #5
Issue assigned to @combatantash

[2022-02-01 05:40] combatantash commented on #5
Unassign the issue for me.

[2022-02-01 06:59] codervivek5 commented on #6
I want to work on this issue under JWOC

[2022-02-01 06:59] soumali28 commented on #1
I want to contribute to this project under JWOC.

[2022-02-01 06:59] codervivek5 commented on #5
I want to work on this issue under JWOC

[2022-02-01 07:00] codervivek5 commented on #4
I want to work on this issue under JWOC

[2022-02-01 07:00] codervivek5 commented on #1
I want to work on this issue under JWOC

[2022-02-01 07:26] SabariGanesh-K commented on #1
Yeah Okay.. Assign if possible

[2022-02-01 08:49] prathimacode-hub commented on #1
Issue is assigned to @soumali28 on FCFS basis

@codervivek5, there are much such issues arriving to explore.

[2022-02-01 09:09] prathimacode-hub opened #7 "MedFlare : Create a Header Section of Home Page"
Hey JWOC participants, good to see you.

This issue's goal is to create a header section of home page which also includes Navigation bar of medical webapp

Feel free to be creative! And please take care of the following criteria:

- create header along with Navigation Bar with 6 options
- Try and get the structure approved before making final pr.

How to get it approved?

- Add a screenshot of  he

[2022-02-01 09:10] prathimacode-hub opened #8 "MedFlare : Create a Footer Section for the Home Page"
Hey JWOC participants, good to see you.

This issue's goal is to create a footer section of home page which also includes Navigation bar of medical webapp

Feel free to be creative! And please take care of the following criteria:

- create atleast 4 rows with Quick Links and Basic Footer Data
- Try and get the structure approved before making final pr.

How to get it approved?

- Add a screenshot

[2022-02-01 09:15] prathimacode-hub opened #9 "MedFlare : Make MedFlare logo and favicon"
Hey JWOC participants, good to see you.

Feel free to be creative! And please take care of the following criteria:

- upload two versions of both logo and favicon- one with white bg and another with transparent bg.
- name the images semantically (e.g.: logo_bg, logo_wtbg, etc.)
Try and get your designs approved before making final pr.

How to get designs approved?
- Comment your designs on this th

[2022-02-01 11:02] ronitblenz commented on #9
Hi, I am interested to work on this issue, Could you please let me in as an assignee.

[2022-02-01 11:05] ronitblenz commented on #8
Hi, I want to work in this issue,
Please let me in as an assignee

Thanks

[2022-02-01 11:08] prathimacode-hub commented on #8
Are you a JWOC Participant? @ronitblenz

[2022-02-01 11:08] prathimacode-hub commented on #9
Are you a JWOC Participant? @ronitblenz

[2022-02-01 11:17] ronitblenz commented on #8
Yes I am JWOC Participant

[2022-02-01 11:17] ronitblenz commented on #9
Yes I am a JWOC Participant

[2022-02-01 12:44] prathimacode-hub commented on #8
Hope you know the timeline to complete the issue. Issue is assigned to @ronitblenz

[2022-02-01 12:45] prathimacode-hub commented on #9
Are you able to work on 2 issues at a time and submit before the deadline
@ronitblenz

[2022-02-01 13:21] soujo commented on #7
Hey @prathimacode-hub , I am interested to work on this issue under JWOC,
Do you have some design in mind ? or some other files which I can refer to, as there is no base for this project from where I can understand.

[2022-02-01 13:25] ronitblenz commented on #9
Can you specify the deadline?

[2022-02-01 13:47] prathimacode-hub commented on #9
Easy issue 1 day, Medium 3 and Hard 5 days @ronitblenz

[2022-02-01 13:48] prathimacode-hub commented on #7
I can provide a reference file for it to take it as a consideration. Since this project is from scratch it has no basic files right now. @soujo

[2022-02-01 13:49] prathimacode-hub commented on #7
Issue assigned to you. I will send you the link to refer in a moment @soujo

[2022-02-01 13:49] soujo commented on #7
Sure , Thanks

[2022-02-01 14:46] ronitblenz commented on #9
If its 24hrs I can do it.. Already working on #8 .... I need some details... Where can I contact you?

[2022-02-01 15:01] prathimacode-hub commented on #7
Refer these 2 links for references to create a header section :

https://www.petermac.org/
https://www.alfredhealth.org.au/

@soujo

[2022-02-01 15:03] prathimacode-hub commented on #9
You can reach out to me on discord @ronitblenz

[2022-02-01 15:21] ronitblenz commented on #9
Ok thanks.. I am texting you then

[2022-02-01 15:24] prathimacode-hub commented on #9
Yes @ronitblenz

[2022-02-01 18:08] ronitblenz commented on #9
Assign me here... I am almost done with the #8

[2022-02-01 18:48] prathimacode-hub commented on #9
Issue assigned to @ronitblenz

[2022-02-01 18:53] #4 closed

[2022-02-01 19:06] #8 closed

[2022-02-02 04:53] ronitblenz commented on #9
![MEDIFLARE](https://user-images.githubusercontent.com/91361382/152095047-d0651e6c-0dbc-485e-860a-1d34982b042d.png)
Logo is ready, can you please specify regarding the Favicons with detail?

[2022-02-02 05:02] ronitblenz commented on #9
I have figured out the favicon, its done
Can you please approve the design so that I can make the PR

[2022-02-02 05:17] prathimacode-hub commented on #9
Is it good with favicon? For logo, it shows a good meaning. Kudos to you. Instead of health is wealth, you can keep some other tagline. You know this webapp is about providing medical emergency aid right? So some caption related to it would be better. So as issue mentions we need 4 images in total : both logo and favicon with white and transparent background. If you could add all the 4 images to t

[2022-02-02 05:18] ronitblenz commented on #9
Sure... Making the changes

[2022-02-02 05:18] soujo commented on #7
Hey @prathimacode-hub
Kindly give feedback on the screenshot, is this fine for the header?
Then I would proceed with this one
![Screenshot (190)](https://user-images.githubusercontent.com/78646418/152097195-ee7bef7d-8ba0-488b-91bf-a612ff4d34ff.png)

[2022-02-02 05:18] prathimacode-hub commented on #9
I also feel the font style can be different too. Just try with new styles and see. What you have sent now is white background. Yes, please. Whichever you feel good for the logo, keep it final. Ok. @ronitblenz

[2022-02-02 05:19] ronitblenz commented on #9
Suggest me a tagline please?

[2022-02-02 05:20] ronitblenz commented on #9
And is is it necessary to make favicon different from logo?

[2022-02-02 05:21] ronitblenz commented on #9
No, its a transparent one, I have a white bg too

[2022-02-02 05:22] prathimacode-hub commented on #9
Ok, actually most keep it different. Due to the size as favicon is 16*16 and logo is of standard size. Just convert it into smaller size to see if the favicon is visibly good @ronitblenz

[2022-02-02 05:22] prathimacode-hub commented on #9
Yeah, will tell in 2mins @ronitblenz

[2022-02-02 05:29] prathimacode-hub commented on #9
Tagline : Insta Help you Need/Deserve

Whichever looks good with Logo. And also while sending the logo image, different into 2 images. One is only pure logo and other is logo with Tagline both in white and transparent background

And for favicon, try if the same logo looks better when it's reduced to favicon size else new one can be created for it. If it's fine, we can go with same image - Here as

[2022-02-02 05:29] #1 closed

[2022-02-02 05:31] prathimacode-hub commented on #7
Yes, this is good. You can go ahead with creating the PR. @soujo

[2022-02-02 05:41] ronitblenz commented on #9
![Medflare (3)](https://user-images.githubusercontent.com/91361382/152099146-d62e0b3e-0e81-414e-a9f7-5c93a35a0fdf.png)
![Medflare (2)](https://user-images.githubusercontent.com/91361382/152099151-23e1b63a-2ba5-46bc-a0a9-a6194301e813.png)
![Medflare (1)](https://user-images.githubusercontent.com/91361382/152099152-426d1d8f-113f-431f-b5de-c775fdda4294.png)
![Medflare](https://user-images.githubuserc

[2022-02-02 05:45] prathimacode-hub commented on #5
Update please @combatantash

[2022-02-02 05:49] prathimacode-hub commented on #9
This is good, more relevant to our webname 👏@ronitblenz

[2022-02-02 05:50] ronitblenz commented on #9
Should I make a PR now?

[2022-02-02 05:50] prathimacode-hub commented on #9
Yeah, and what about favicon? @ronitblenz

[2022-02-02 05:50] ronitblenz commented on #9
Favicon is ready, includes all device configs

[2022-02-02 05:52] prathimacode-hub commented on #9
Ok, go ahead to make a PR. @ronitblenz

[2022-02-02 06:34] #9 closed

[2022-02-02 07:17] #7 closed

[2022-02-02 10:19] boradesanket13 commented on #5
I want to work on this issue under JWOC. I would like to contribute on this issue. Kindly assign this issue to me.

[2022-02-02 11:35] prathimacode-hub commented on #5
Issue assigned to @Sanket1308 and @codervivek5 first we will complete the assigned issue and change that needs to be done.

Don't worry ample of issues coming up.

[2022-02-02 11:37] prathimacode-hub commented on #5
@combatantash, Deadline is up. Sorry. We have other issues coming too. But try to complete it on time. And even if you couldn't atleast update and inform so that we can extend some time instead of holding up.

[2022-02-02 12:37] prathimacode-hub opened #17 "MedFlare : Make the folder and file structure"
Hey JWOC participants, good to see you.

This issue's goal is to make a folder and file structure

If you are not aware about how to semantically make a folder or file structure for the web, you may refer to the following links for reference:

- [Appcropolis](https://appcropolis.com/blog/web-technology/organize-html-css-javascript-files/)
- [Pixinvent](https://pixinvent.com/demo/vuexy-html-bootstr

[2022-02-02 12:44] prathimacode-hub opened #18 "MedFlare: Make a "Blogs" Page with Blog Cards"
Hey JWOC participants, good to see you.

Build a MedFlare Blog Page with multiple cards that have some text block and accompanying images. Follow the following as a part of your checklist.

- Make sure that the images you use are uncopyrighted (Some sources are [Pexels](https://www.pexels.com/), [Pixabay](https://pixabay.com/), [Unsplash](https://unsplash.com/images) ).
- Use MedFlare relevant tex

[2022-02-02 12:47] prathimacode-hub opened #19 "MedFlare: Add medical themed carousel to homepage"
Hey JWOC participants, good to see you.

This issue's goal is to create a medical themed carousel to homepage

Add a medical-themed carousel to index.html. Make sure you use uncopyrighted images. Use 4-5 slides in the carousel, heroing different MedFlare features. Feel free to use below reference:

[Texhnext](https://technext.github.io/montana/index.html)

How to get it approved?

- Add a screensh

[2022-02-02 16:12] soujo commented on #19
Hi @prathimacode-hub , I want to work on the issue under JWOC
Do you want to change the whole header section of the index.html with a carousel similar to the link you provided or do you want only to change the doctor's group SVG with the carousel or are you asking to build an entire carousel section?
Kindly elaborate.

[2022-02-02 16:44] RajulPE commented on #19
I am interested in working on this issue under JWOC.

[2022-02-02 16:53] Srijita-Mandal commented on #18
Can I work on this issue under JWoC?

[2022-02-02 17:53] prathimacode-hub commented on #19
Create a carousel in body section of the website. This is only an addition to the body page. Don't change or remove anything from the header or other things. @soujo

[2022-02-02 17:53] prathimacode-hub commented on #19
@RajulPE, you can comment on other open issues

[2022-02-02 17:54] prathimacode-hub commented on #18
Yes, you can. Go ahead. Issue assigned to @Srijita-Mandal

[2022-02-02 18:08] Riddhi9570 commented on #17
I want to work on this issue under JWOC.

[2022-02-02 18:12] prathimacode-hub commented on #17
Yeah, go ahead. Issue assigned to @Riddhi9570

[2022-02-02 18:53] soujo commented on #19
Okay sure , I am working on it

[2022-02-02 19:15] soujo commented on #19
@prathimacode-hub , so should I include the carousel above about section?

[2022-02-03 04:44] prathimacode-hub commented on #19
Yes, exactly @soujo

[2022-02-03 07:07] soujo commented on #19
Kindly see the video and give feedback @prathimacode-hub
I have used the terms and pictures according to the services it will endorse ( in your README.md )

https://user-images.githubusercontent.com/78646418/152296684-7e79b0c3-c9c0-4428-98d9-284b0e25842d.mp4

[2022-02-03 07:10] prathimacode-hub commented on #19
Can you use some other images. It isn't going well with the theme of website. It's of emergency aid one. So these are related to treatments and hospital based. @soujo

[2022-02-03 07:11] soujo commented on #19
Yeah sure, I will make the changes
The text which is shown over the pictures, is that okay? Do I need to change those texts too or only the pictures?
Actually, I searched the pictures with those texts itself @prathimacode-hub

[2022-02-03 07:38] prathimacode-hub commented on #19
Oh, don't search that way. Instead use canva or photoshop to insert text to the images and do modifications according to theme. Keeping images directly isn't going well and bland too. Hope you'll use uncopyrighted images. And also don't show people in images.

For slides, use only 4 images in total. I will give some references. @soujo

[2022-02-03 08:03] soujo commented on #19
Can we do something like this ? @prathimacode-hub
I tried in Canva. It's just a test sample.

![MedFlare](https://user-images.githubusercontent.com/78646418/152303731-3e787ea0-6749-4bac-9133-2b445b415317.png)

[2022-02-03 08:04] #5 closed

[2022-02-03 08:07] prathimacode-hub commented on #19
Yes, we can do this way, Here instead of mentioned the words of Vaccination Centers Notification or Oxygen Cylinder Supply. Use generalized words that define the problem statement. This would be more particular. But image is good
I will send few images and format to you for reference in discord. @soujo

[2022-02-03 10:18] Riddhi9570 commented on #17
![Screenshot (15)](https://user-images.githubusercontent.com/72887868/152324425-235b23fa-61fe-41bc-b4a8-036e98f3cbe3.png)
Is it fine?

[2022-02-03 10:32] prathimacode-hub commented on #17
Looks perfect. You can proceed. @Riddhi9570

[2022-02-03 11:24] Riddhi9570 commented on #17
@prathimacode-hub I want to discuss something. I have messaged in discord. Please check.

[2022-02-03 12:04] soujo commented on #19
Is this okay ? @prathimacode-hub

https://user-images.githubusercontent.com/78646418/152339395-9823f838-3f70-41e8-b3f7-618409952842.mp4

[2022-02-03 14:00] #19 closed

[2022-02-04 11:56] Debdeep1 opened #26 "Project Admin Image for MedFlare home page is not being displayed."

[2022-02-04 11:58] Debdeep1 commented on #26
I want to work on this issue under JWOC

[2022-02-04 12:19] #17 closed

[2022-02-04 12:22] prathimacode-hub commented on #26
Issue assigned to @Debdeep1 but this won't count under JWOC. In your issue comment using edit, add issue template and provide details about this issue. As here we have only 3 kind of label. This works only if we have 4 or more than 5 labels.

[2022-02-04 12:22] prathimacode-hub commented on #26
In your issue comment using edit, add issue template and provide details about this issue. @Debdeep1

[2022-02-04 12:24] prathimacode-hub commented on #18
Issue update please? @Srijita-Mandal

[2022-02-04 12:52] Srijita-Mandal commented on #18
I haven't start it till now. Can you please unassign me from this issue?

[2022-02-04 13:07] prathimacode-hub commented on #18
You have unassigned yourself itself. There is no point in asking me to unassign. @Srijita-Mandal

[2022-02-05 10:44] aditi-gosain commented on #18
I want to work on this issue under JWOC.

[2022-02-05 12:39] prathimacode-hub commented on #18
Issue assigned to @aditi-gosain

[2022-02-08 13:59] pranavsuriya-sr opened #27 "Navigate Top Button"
Adding a navigate to top button will create a user friendly design for the user to navigate to the top of the webpage which is the homepage easily.

[2022-02-09 13:39] pranavsuriya-sr commented on #27
I want to work on this issue under JWOC

[2022-02-11 13:43] ronitblenz opened #28 "Update the Nav Bar links and edit the home page texts with relevant information"
I would like to work on this issue, as JWoC contributor
Could you plz assign me?

[2022-02-11 19:47] 03amir commented on #18
I want to work on this issue under JWOC.

[2022-02-12 08:34] prathimacode-hub commented on #27
Issue assigned to @pranavsuriya-sr . Go ahead

[2022-02-12 08:35] prathimacode-hub commented on #28
Issue assigned to @ronitblenz. You can proceed.

[2022-02-12 08:36] prathimacode-hub commented on #26
No response? @Debdeep1

[2022-02-12 08:36] prathimacode-hub commented on #18
@aditi-gosain update please?

[2022-02-12 08:43] ronitblenz commented on #28
Could you plz put the medium difficulty tag?

[2022-02-12 16:11] zugzwang03 commented on #18
Hey Prathima ma'am, I want to work on this issue under JWOC.

[2022-02-13 04:30] #28 closed

[2022-02-13 04:30] #27 closed

[2022-02-13 04:35] prathimacode-hub commented on #18
It's been more than 8 days since issue is assigned and no update from your end so unfortunately, this issue is handed to next person on queue. Better luck next time. @aditi-gosain

Issue is assigned to @03amir to be a next person on queue. you can proceed. Hope you understand what this issue needs

@zugzwang03 You are on queue.

[2022-02-14 10:48] iatharva opened #31 "Clicking on "Get Started" on "https://prathimacode-hub.github.io/MedFlare/" not redirecting to any page or link"
I think currently it's in development that's why maybe it's not implemented yet. But do look into the issue, cause as a new person/visitor that's the first action which I can see clearly. So, do add link into the Button.

[2022-02-16 04:43] r3yc0n1c commented on #3
I would like to work on this issue under JWoC'22

[2022-02-16 04:43] r3yc0n1c commented on #2
I would like to work on this issue under JWoC'22

[2022-02-16 05:12] prathimacode-hub commented on #3
You have expressed interest for 2 issues. So let me know of the issue you would like to start with? @r3yc0n1c

[2022-02-16 05:59] r3yc0n1c commented on #3
let me get started with this one first

[2022-02-16 06:09] prathimacode-hub commented on #3
Sure, you can proceed working @r3yc0n1c

[2022-02-16 06:13] zugzwang03 commented on #18
Hey Prathima ma'am, will I work on this issue under JWOC then?

[2022-02-16 08:12] prathimacode-hub commented on #18
Yes, you can start working on this issue. @zugzwang03

Since no response from you for past 3 days about confirmation of taking up an issue, it's assigned to next person. Holding the issue and removing the assignment on your own without informing isn't right. @03amir

[2022-02-16 10:11] zugzwang03 commented on #18
Ma'am, the multiple cards containing text block and accompanying images will be about the various services offered in medFlare?

[2022-02-17 12:43] zugzwang03 commented on #18
@prathimacode-hub ma'am, I made the blog page. Can you please tell me where to add this page? Is it after the "About" section of the website?
![medflare1](https://user-images.githubusercontent.com/95460021/154484073-1e5112cd-faa2-4933-87c9-482b6ef0c9b2.png)
![medflare2](https://user-images.githubusercontent.com/95460021/154484111-9c507c98-38bc-45de-866c-d9d5f08b87b4.png)

[2022-02-17 16:16] prathimacode-hub commented on #18
This is good, but it's like showing the services provided. You do one thing. You add this below About section in Services. And similar to this, add it in using scroll front and back arrow above footer section in Home page. It should have a learn more option since this is a blog. When it's clicked the concerned blog should open in a new page. for this Create separate blog page as well which directs

[2022-02-17 17:00] zugzwang03 commented on #18
Okay, so the services section will be replaced by my blog page?

[2022-02-17 18:04] prathimacode-hub commented on #18
Yes, and initiate a blog page that supports this issue @zugzwang03

[2022-02-23 17:26] Sanghu01 commented on #18
I would like to work on this issue under JWOC. I also want to work in this issue plz also assign me

[2022-02-24 13:34] Shruti025 opened #33 "Responsiveness of Home Page"
The home page of the website has bugs in responsiveness.

![image](https://user-images.githubusercontent.com/72005584/155533669-c7d7b8f1-b2cb-44d3-9cf5-9ea6fa690739.png)
![image](https://user-images.githubusercontent.com/72005584/155533723-79adcf52-3071-4d9e-999a-25125535dd5a.png)

[2022-02-24 13:34] Shruti025 commented on #33
I want to work on this issue under JWOC

[2022-02-25 10:26] prathimacode-hub commented on #33
Yes, sure. Issue assigned to @Shruti025

[2022-02-25 10:27] prathimacode-hub commented on #31
You added a right point. Sign up thing isn't approved yet since that is yet to link to get started option @iatharva

[2022-02-26 07:27] prathimacode-hub commented on #18
@Sanghu01 Will let you know by evening

[2022-03-01 17:18] #33 closed

[2022-03-01 17:22] #18 closed

[2022-03-01 17:22] prathimacode-hub commented on #3
Update please? @r3yc0n1c

[2022-03-02 11:53] Devmindtk commented on #2
I would like to work on this issue under JWOC'22. please assign to me @prathimacode-hub

[2022-03-02 11:55] r3yc0n1c commented on #2
Hey @prathimacode-hub, I would like to continue my work on this issue under JWoC'22

[2022-03-02 12:09] prathimacode-hub commented on #2
Issue assigned to @Devmindtk on FCFS basis

@r3yc0n1c, Sorry you missed the line by 2mins difference. I'm adding new issues now for you to grab upon.

[2022-03-02 12:14] prathimacode-hub opened #36 "MedFlare : Blood Donors Availability Notification"
Hey JWOC participants, good to see you.

This issue's goal is to get the glimpse of all the blood donors with availability notification sent to the user

How to get it approved?

- Add a screenshot and video of outlook on this thread and wait for one of the mentors to get back to you.
- Once it's approved, go ahead and make pr.

Please read [CONTRIBUTING.md](https://github.com/prathimacode-hub/Med

[2022-03-02 12:15] prathimacode-hub opened #37 "MedFlare : Organ Donors Availability Notification"
Hey JWOC participants, good to see you.

This issue's goal is to get the glimpse of all the organ donors with availability notification sent to the user

How to get it approved?

- Add a screenshot and video of outlook on this thread and wait for one of the mentors to get back to you.
- Once it's approved, go ahead and make pr.

Please read [CONTRIBUTING.md](https://github.com/prathimacode-hub/Med

[2022-03-02 12:16] prathimacode-hub opened #38 "MedFlare : Oxygen Cylinders Supply Notification"
Hey JWOC participants, good to see you.

This issue's goal is to get the glimpse of all the oxygen cylinders supply with availability notification sent to the user

How to get it approved?

- Add a screenshot and video of outlook on this thread and wait for one of the mentors to get back to you.
- Once it's approved, go ahead and make pr.

Please read [CONTRIBUTING.md](https://github.com/prathimac

[2022-03-02 12:17] prathimacode-hub opened #39 "MedFlare : Plasma Connect Notification"
Hey JWOC participants, good to see you.

This issue's goal is to get the glimpse of all the plasma connect details with availability notification sent to the user

How to get it approved?

- Add a screenshot and video of outlook on this thread and wait for one of the mentors to get back to you.
- Once it's approved, go ahead and make pr.

Please read [CONTRIBUTING.md](https://github.com/prathimaco

[2022-03-02 12:19] r3yc0n1c commented on #36
I would like to work on this issue under JWoC'22

[2022-03-02 12:19] r3yc0n1c commented on #37
I would like to work on this issue under JWoC'22

[2022-03-02 12:22] prathimacode-hub opened #40 "MedFlare : Doctors Appointment Form"
Hey JWOC participants, good to see you.

This issue's goal is to provide a doctor appointment form that needs to be filled with basic patient details along with location, preferred doctor, available time slots and get it notified by email and phone to the user.

How to get it approved?

- Add a screenshot and video of outlook on this thread and wait for one of the mentors to get back to you.
- Onc

[2022-03-02 12:28] prathimacode-hub opened #41 "MedFlare : Book Your Ambulance"
Hey Hacktoberfest participants, good to see you.

This issue's goal is to provide a booking your ambulance form that needs to be filled with basic details that tracks your location and sends you up with the nearest hospital details according to the symptoms you're facing. It fetches you with a booked invoice to your email and phone number.

How to get it approved?

- Add a screenshot and video of

[2022-03-02 12:29] prathimacode-hub commented on #37
Issue assigned to @r3yc0n1c. You can proceed.

[2022-03-02 12:30] prathimacode-hub commented on #36
You can do one after the other ok? @r3yc0n1c

[2022-03-02 12:40] r3yc0n1c commented on #41
I would like to work on this issue under JWoC'22

[2022-03-02 12:47] prathimacode-hub commented on #41
Issue assigned to @r3yc0n1c

[2022-03-02 16:53] soujo commented on #40
I would like to work on this issue under JWOC
@prathimacode-hub

[2022-03-02 17:55] prathimacode-hub commented on #40
Issue assigned to @soujo

[2022-03-03 06:43] soujo commented on #40
Could you kindly confirm the fields which I have to add?
Also, do you have any references? @prathimacode-hub

[2022-03-03 17:20] Faraaz2633 opened #42 "Transition Effect on hovering services card"
Hey there,
When we hover the Services card it suddenly pops out so i would like to add some transitions effects in it so it would look good.
I would like to this under JWOC.

[2022-03-04 07:41] Devmindtk commented on #2
i have to do backend here or only ui part of getting notification?

[2022-03-05 16:54] prathimacode-hub commented on #42
Can you add the issue template along with issue details to get it assigned. @Faraaz2633

[2022-03-05 16:56] #3 closed

[2022-03-06 04:26] Faraaz2633 commented on #42
![image](https://user-images.githubusercontent.com/73326287/156909176-fa6b8383-b11a-46c1-9c44-29b9a0a81442.png)

On bigger screens, the Why us section has an improper alignment.

[2022-03-06 04:34] Faraaz2633 opened #44 "UI Change needed"
Hey there,
I would love to change the entire UI of this project with Tailwind CSS.
There are lots of issues with the current UI.
I would like to work under JWOC.
I would be very grateful if you could assign this issue to me.

[2022-03-06 04:35] Faraaz2633 commented on #44
![image](https://user-images.githubusercontent.com/73326287/156909390-147f1e20-6962-4a61-8abe-effc3753e156.png)

[2022-03-06 04:36] Faraaz2633 commented on #44
![image](https://user-images.githubusercontent.com/73326287/156909408-0a605377-5b94-4920-9249-8452a2832bbc.png)

[2022-03-06 04:37] Faraaz2633 commented on #44
![image](https://user-images.githubusercontent.com/73326287/156909425-17981ab0-eb9e-4321-86d6-6f810181dbf4.png)

[2022-03-06 08:13] prathimacode-hub commented on #44
Sure, you can proceed. Issue assigned. @Faraaz2633

[2022-03-06 08:16] #40 closed

[2022-03-06 08:17] prathimacode-hub commented on #42
Can you add the issue template so that i could assign this issue to you? @Faraaz2633

[2022-03-07 08:27] prathimacode-hub commented on #2
Both. Update please? @Devmindtk

[2022-03-07 08:27] prathimacode-hub commented on #37
Update please? @r3yc0n1c

[2022-03-07 08:27] prathimacode-hub commented on #41
Update please? @r3yc0n1c

[2022-03-09 12:29] prathimacode-hub commented on #44
Update please? @Faraaz2633

[2022-04-11 06:53] #26 closed

[2022-10-01 07:04] jyotirawat224 commented on #36
Hey, I want to work on this issue under hactoberfest2022

[2022-10-01 09:23] prathimacode-hub commented on #36
Issue assigned to @jyotirawat224. You can proceed working.

[2022-10-01 10:49] jyotirawat224 commented on #36
Thanks @prathimacode-hub

[2022-10-01 12:53] itshypon opened #45 "Unresponsive Website"
---
Title: Unresponsive Website
About: Website is unresponsive in mobile ie it's webpage doesn't load like it should in other devices, it's elements are static instead of changes it's position and size according to page
Name: Himanshu
Label: Feature Request
Assignee: ''

---

Define You:

- [x] Hacktoberfest Participant
- [ ] Contributor

**Is your feature request related to a problem? Please desc

[2022-10-01 13:09] prathimacode-hub commented on #45
Issue has been assigned to @itshypon. Proceed forward.

[2022-10-01 13:10] prathimacode-hub commented on #45
You can be specific about the task on the issue instead of just mentioned Unresponsive Website, so that's it clearly understood. @itshypon

[2022-10-01 13:45] mateahoward opened #46 "UI Suggestions"
Hi! I've got a few suggestions I'd like to add to your project if you'd like me to. They are:

SEO:
- add a meta description
- remove multiple `<h1>` elements

Accessibility:
- make sure all images have alt text attributes on them
- make sure all background colors have a sufficient contrast ratio (specifically for the 'CTA-1' and 'CTA-2' buttons)
- make sure all interactive elements receive stylin

[2022-10-01 14:11] Nasah-Kuma commented on #39
Hi! Please can you assign this to me?

[2022-10-01 14:28] prathimacode-hub commented on #46
Issue assigned to @mateahoward. You can proceed forward.

[2022-10-01 14:28] prathimacode-hub commented on #39
Issue assigned to @Nasah-Kuma. You can proceed ahead.

[2022-10-01 14:50] Nasah-Kuma commented on #39
On it :)

[2022-10-01 15:00] Anikaaasingh commented on #46
Hey @prathimacode-hub  I would like to improve the ui of ABOUT section with following change.
1.Put bg color acc to color pallete of site
2.Shift pic to right and text to left
3.Add css on hover animation  in background to make it interactive . Reference image of animation  is
![Screenshot_20221001-202828_YouTube](https://user-images.githubusercontent.com/96921017/193415552-35a65035-3260-4546-a47c

[2022-10-01 15:05] prathimacode-hub commented on #46
You can create an issue with these details separately to get it assigned. Tag me when you do so over that issue. @Anikaaasingh

[2022-10-01 15:37] mateahoward commented on #46
Hi @prathimacode-hub 😄 I submitted a PR over here, if you agree with the changes then this issue can be closed 💪
https://github.com/prathimacode-hub/MedFlare/pull/47

[2022-10-01 15:39] prathimacode-hub commented on #46
You're super fast. I'll review onto the PR in 5mins. @mateahoward

[2022-10-01 15:54] Anikaaasingh opened #48 "UI improvement of About Section."
Hey @prathimacode-hub I would like to improve the ui of ABOUT section with following change.
1.Put bg color acc to color pallete of site
2.Shift pic to right and text to left
3.Add css on hover animation in background to make it interactive . Reference image of animation is
![Screenshot (270)](https://user-images.githubusercontent.com/96921017/193417606-2dd03fde-d305-41cc-94a7-fcb6e8ca55b3.png)

H

[2022-10-01 16:36] Anikaaasingh commented on #48
![Screenshot (271)](https://user-images.githubusercontent.com/96921017/193419214-23d70c8b-7b11-42b6-ad4b-5133769e67a5.png)
This is coming after running code locally whereas,
![Screenshot (272)](https://user-images.githubusercontent.com/96921017/193419241-782a9e6f-9ff2-44ac-8c1d-17172f19310a.png)
This is the link put by you. @prathimacode-hub kindly guide

[2022-10-01 17:35] prathimacode-hub commented on #48
Oops, I don't know what's wrong. Let me check. @Anikaaasingh

[2022-10-01 20:24] #46 closed

[2022-10-01 22:12] Nasah-Kuma commented on #39
Hi again! After setting up and running, the project, is this the display I should expect to see?
![Screenshot from 2022-10-01 23-11-03](https://user-images.githubusercontent.com/44293101/193430222-114a5b23-cc76-404a-80c4-f167a7a3125a.png)

[2022-10-01 22:24] prathimacode-hub commented on #46
Why have you closed it? Kindly don't close. It closes automatically when PR is merged successfully with issue number. @mateahoward

[2022-10-01 22:27] prathimacode-hub commented on #48
Couldn't figure out any issue from my end. Don't know what's wrong. Refork it with the latest changes to see if it works. @Anikaaasingh

[2022-10-01 22:30] prathimacode-hub commented on #39
Got it. The thing is we have 2 formats of this app : 1 is using html, css and js and 2 is using react based for MedFlare. So you do the changes for react based app. @Nasah-Kuma

[2022-10-01 22:31] prathimacode-hub commented on #48
Got it. The thing is we have 2 formats of this app : 1 is using html, css and js and 2 is using react based for MedFlare. So you do the changes for react based app. @Anikaaasingh

[2022-10-01 22:52] Nasah-Kuma commented on #39
ok

[2022-10-02 07:40] Anikaaasingh commented on #48
What command do I have to use to set react site. Using npm start is leading to the first format?

[2022-10-02 13:43] Nasah-Kuma commented on #39
Can I add auxiliary libraries to help with the styling or do we work with just plain css?

[2022-10-02 21:58] Nasah-Kuma commented on #39
Something like boostrap

[2022-10-03 05:21] akashyap25 commented on #2
@prathimacode-hub Hey, just wanted to know if we have to send notification to the user as mail or message or just show available centres on the website itself, when they search using district or pincode

[2022-10-03 15:06] prathimacode-hub commented on #39
That's all your call. Which you find it valid for better progress. @Nasah-Kuma

[2022-10-03 15:07] prathimacode-hub commented on #2
Showcase it over the Website itself. For mail and message notification, that will come up as an another issue. @akashyap25

[2022-10-03 15:22] akashyap25 commented on #2
I am interested in completing this task, Please assign it to me.

[2022-10-03 15:40] prathimacode-hub commented on #2
Issue assigned to @akashyap25

[2022-10-03 22:17] Nasah-Kuma commented on #39
I'm currently working on this issue. Why is it unassigned please?

[2022-10-03 22:20] Nasah-Kuma commented on #39
Another question please, does this issue involve the ui and backend?

[2022-10-04 06:33] Amiyanshu-web opened #49 "Clicking on Navbar Buttons does nothing."
Clicking on Navbar buttons(Home, About Us, Services...) should take them to their respective sections which is not happening.

![home](https://user-images.githubusercontent.com/59080551/193749988-35087483-0d4c-4ae8-8700-a9ff106b38c8.gif)

[2022-10-04 12:16] 3xp11i commented on #49
Hey can you please assign me to this issue? I can resolve this issue. @prathimacode-hub

[2022-10-04 12:29] Aankirz commented on #41
Hey @prathimacode-hub I would like to solve this issue.

[2022-10-04 13:03] prathimacode-hub commented on #41
Issue assigned to @Aankirz

[2022-10-04 14:09] 3xp11i commented on #49
Please check my [PR](https://github.com/prathimacode-hub/MedFlare/pull/50)

[2022-10-05 05:13] prathimacode-hub commented on #49
You have created a PR without getting assigned. @prakhartiwari0

Anyways, this issue is too small to be done. Come up with a valid and legible issue. @Amiyanshu-web @prakhartiwari0

[2022-10-05 06:05] Amiyanshu-web commented on #49
Actually, I was not aware that small issues can not be created. As per my knowledge, I found this issue valid.
Would love to know what exactly valid issues look like.
Anyways, thanks for letting me know.

[2022-10-05 06:21] prakhartiwari0 opened #51 "UI Improvement of the Services Section"
## The current Services Section looks like this on a large screen
*Please ignore the **blood donor availability** card, it is the problem with the screenshot extension.*
[Screenshot 1](https://user-images.githubusercontent.com/65062036/193992414-28d3fbb4-b246-49db-851e-9d2e5b1056fc.png)

## On *My Screen*, it is really *messed up* as you can see
[Screenshot 2](https://user-images.githubusercontent

[2022-10-05 06:21] 3xp11i commented on #49
I am very sorry @prathimacode-hub, I am new to Open Source, and will learn from this mistake 👍.

I don't think this issue is too small, as navigation plays an important role in the functioning of a website. If the navbar cannot be used, it spoils the experience of the user. It literally isn't working, so this should be resolved.

I want to improve the UI of the services section, I have opened an i

[2022-10-05 06:22] 3xp11i commented on #51
If you find this issue legible, kindly assign it to me so that I can work on it. @prathimacode-hub

[2022-10-05 06:33] 3xp11i commented on #51
BotBro the Pull Request Template link is not working, kindly check @prathimacode-hub 😅

[2022-10-05 12:32] Aankirz commented on #41
Hey @prathimacode-hub I've made the "Book your ambulance page".
####  With all the necessary inputs.

#### ✅ Auto-detect Location
#### ✅ Send Invoices to the entered mail ID from "my ID (as of now)".

#### Here's the screenshot
<img width="1440" alt="Screenshot 2022-10-05 at 5 58 52 PM" src="https://user-images.githubusercontent.com/95562947/194060354-5a5c1662-ded0-4ef3-9ccf-e69a73ec92c0.png">
<im

[2022-10-05 12:58] Aankirz commented on #41
Here's the video link ->

#### https://youtu.be/OFOeiSMMZPM

[2022-10-06 09:53] prathimacode-hub commented on #51
PR template is working for me. Issue assigned to @prakhartiwari0

[2022-10-06 09:55] prathimacode-hub commented on #49
This issue is fine, but can include some more changes to it. At the end, I want contributions that goes into this project should be counted. Don't be sorry. @prakhartiwari0

@Amiyanshu-web I emphasize that PR's shouldn't be discarded from Hacktoberfest. That's my only concern.

[2022-10-06 09:56] prathimacode-hub commented on #48
Do you want any resource to it? @Anikaaasingh

[2022-10-06 09:57] prathimacode-hub commented on #45
Can you include the issue template here along with the issue details? @itshypon

[2022-10-06 09:59] #2 closed

[2022-10-06 10:00] #41 closed

[2022-10-06 10:03] prathimacode-hub commented on #49
Oops, @prakhartiwari0 got it assigned. @Amiyanshu-web, can you come up with an another issue.

[2022-10-06 13:04] 3xp11i commented on #51
![image](https://user-images.githubusercontent.com/65062036/194319722-6faffde4-d699-4884-abac-ff25b0a9c92d.png)

Maybe a problem from my end.

Thanks! Will start working on it and ask for feedback so that I can make this section, and the whole project better!

[2022-10-08 03:38] itshypon commented on #45
@prathimacode-hub Done, will start working soon on it between 12-15.

[2022-10-08 08:17] #51 closed

[2022-10-08 11:41] sumitkr2000 opened #55 "Improving UI"
I want to improve the UI of your website. Can you please assign me this issue?

[2022-10-08 12:20] sumitkr2000 commented on #55
Can I work on this issue now ?? @prathimacode-hub

[2022-10-09 15:09] prakhartiwari0 opened #56 "Improve the Design of Bed Availability Notification Form Page"
## Issue
The form is really bad and is overlapping the image on the left. It is also not reponsive

## Screenshot
![image](https://user-images.githubusercontent.com/65062036/194764336-ec871ae4-b114-482c-bf5f-aef2acdcbd4d.png)

## Solution
I can work on this issue and improve the UI of the form very much +  Make it responsive also

[2022-10-09 15:13] prakhartiwari0 opened #57 "Improve the functionality of the home page"
## Issue
This issue has multiple issues inside it to address:
- The links buttons in the cards of the Services Section are not working properly
- The Navigation bar is not working either (This issue is already raised in #49 but the maintainer asked to include some more problems to make it legible, so this is it)

If you want @prathimacode-hub then you can close the previous issue and assign this i

[2022-10-09 18:45] Ardent10 opened #58 "Refactoring and Migration"
The Current Project is a mix of both basic html,css,js and a React Application,
I would like to structure this project so that we can Implement the functionalities using React only and Html ,css and Js are not that flexible in terms of Reusability.
![image](https://user-images.githubusercontent.com/73132031/194774133-820a69ed-57ee-474b-bd2a-097a8cc96cb5.png)

[2022-10-10 05:45] #55 closed

[2022-10-10 08:00] prathimacode-hub commented on #58
Issue assigned to @Ardent10

[2022-10-10 08:00] prathimacode-hub commented on #56
Issue assigned to @prakhartiwari0

[2022-10-10 08:01] prathimacode-hub commented on #57
Issue assigned to @prakhartiwari0

[2022-10-10 09:11] 3xp11i commented on #56
Thanks!

[2022-10-10 09:11] 3xp11i commented on #57
Thanks!

[2022-10-10 12:21] ritishbhardwaj opened #60 "improving features like adjusting the position of images in bed.html, making cursor pointer on the Medflare logo etc."

[2022-10-10 12:22] ritishbhardwaj commented on #60
@prathimacode-hub
assign this issue to me

[2022-10-10 12:26] ritishbhardwaj commented on #60
https://user-images.githubusercontent.com/81488252/194865914-dab1ed5b-cb59-4a03-a06f-4b55ffa79b50.mp4

all changes in one video that i have made
you can refer original web page for comparison

if you like this small change then we can talk further

[2022-10-10 13:01] Rishikavishnoi commented on #60
Issue assigned to @Ardent10  and also make bed.html page more responsive

[2022-10-10 13:02] Rishikavishnoi commented on #60
Issue assign to @ritishbhardwaj and work on the responsiveness of the bed.html page

[2022-10-10 13:58] #58 closed

[2022-10-10 16:19] Ardent10 opened #62 "Navbar using React"
@Rishikavishnoi I want to work on rebuilding the component using React. I would like to start with the Navbar.

[2022-10-10 20:01] Rishikavishnoi commented on #62
Issue assigned to @Ardent10

[2022-10-11 06:58] 3xp11i commented on #57
## Update on the issue

- There are a lot of new issues that are created due to the changes in the file structure, I am going to solve them too..

[2022-10-11 09:00] #56 closed

[2022-10-12 03:10] anj20 commented on #38
Hi! please can u assign this to me?

[2022-10-15 06:36] prathimacode-hub commented on #45
Update please? @itshypon

[2022-10-15 06:36] prathimacode-hub commented on #57
Update please? @prakhartiwari0

[2022-10-15 06:37] prathimacode-hub commented on #60
Issue assigned to @ritishbhardwaj

[2022-10-15 06:38] prathimacode-hub commented on #62
@Ardent10, Can you add issue template here with issue details description?

[2022-10-15 06:38] itshypon commented on #45
@prathimacode-hub Will submit PR by today or tomorrow.

[2022-10-15 06:56] 3xp11i commented on #57
yes I am sorry to take time, I am going through some health issues. Will try to complete it today.

[2022-10-15 08:01] #62 closed

[2022-10-15 09:22] itshypon commented on #45
@prathimacode-hub I just noticed that the unresponsiveness issue is no more coming in the website. Looks like it's fixed in other PRs. I will close this issue and work on Ezy-Parking one then.

[2022-10-15 09:22] #45 closed

[2022-10-15 14:02] Ardent10 opened #65 "Homepage Hero component"
The current React project only has the About section on Top I would like to create a Hero Component for MedFlare.
@Rishikavishnoi @prathimacode-hub

[2022-10-18 18:27] #57 closed

[2022-10-20 16:21] Ardent10 opened #67 "Medflare Layout with Footer."
I would like to complete the layout of the project with a footer.

[2022-10-20 18:35] prathimacode-hub commented on #65
Issue assigned to @Ardent10. Kindly add the issue template here along with the issue details.

[2022-10-20 18:35] prathimacode-hub commented on #67
Issue assigned to @Ardent10. Kindly add the issue template here along with the issue details.

[2022-10-22 13:44] prathimacode-hub commented on #48
@Anikaaasingh, can you provide an update on this?

[2022-10-22 13:47] prathimacode-hub commented on #60
Update please and add the issue template above along with issue details as well? @ritishbhardwaj

[2022-10-22 13:47] prathimacode-hub commented on #65
Update? @Ardent10

[2022-10-22 13:47] prathimacode-hub commented on #67
Update? @Ardent10

[2022-10-22 14:12] Ardent10 commented on #65
Working on it. @prathimacode-hub

[2022-10-22 14:13] Ardent10 commented on #65
Working on it will make a pr soon. @prathimacode-hub

[2022-10-22 14:14] Ardent10 commented on #67
Will make their PR at once.

[2022-10-23 14:40] #65 closed

[2022-10-24 09:25] #67 closed

[2022-10-26 05:53] Aankirz commented on #36
Hey @prathimacode-hub can I work on this issue?

[2022-10-27 16:50] Aankirz commented on #39
hey @prathimacode-hub can u pls assign this to me

[2022-10-30 05:13] prathimacode-hub commented on #60
Update please? @prathimacode-hub

[2022-10-30 05:20] prathimacode-hub commented on #39
Issue assigned to @Aankirz

[2022-10-30 05:22] prathimacode-hub commented on #48
Why have you closed it without informing? @Anikaaasingh

[2022-10-30 05:23] prathimacode-hub commented on #36
Issue assigned to @Aankirz

[2022-11-09 14:38] Aankirz commented on #39
Sorry but can u pls unassign me, I'm caught up with my sem exam

[2022-11-10 18:43] Zunad1 opened #71 "Add dark mode button."
if you assign me , i can add dark mode button and favicon.